html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

button:focus, input:focus {
  outline: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

.container {
  width: 95%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
}
header h1 {
  color: #fff;
  font-size: 0.875rem;
  background-color: #000;
  font-weight: 700;
  padding: 1rem 0;
  margin: 0;
  text-align: center;
}
header h1 > span {
  font-weight: 500;
  margin-left: 3rem;
}
header h1 > span span {
  color: #FF6B6B;
  font-weight: 700;
  margin-inline: 2rem 0.5rem;
}
header img {
  margin-top: 2.656rem;
  height: 2.125rem;
}

nav #menu-btn {
  display: none;
}
nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div .user-panel button {
  background: none;
  border: none;
  cursor: pointer;
}
nav div .user-panel button:nth-child(-n+3) {
  margin-right: 1.2rem;
}
nav div .media a:nth-child(1) {
  margin-right: 1rem;
}
nav .categories {
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
nav .categories a:nth-child(-n+3) {
  color: #000;
  margin-right: 2.625rem;
}
nav .categories .sale {
  color: #FF0102;
}
nav .categories::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: #939393;
  width: 10rem;
  height: 1px;
}
nav .categories::after {
  content: "";
  position: absolute;
  right: 0;
  background-color: #939393;
  width: 10rem;
  height: 1px;
}

article.new-collection-ad {
  margin-top: 2.5rem;
  background-color: #000;
  color: #fff;
  width: 100%;
  text-align: right;
  overflow: hidden;
}
article.new-collection-ad h2 {
  animation: slide-left 50s linear infinite;
  font-size: 1.25rem;
  animation: slide-left 28s linear infinite;
}
@keyframes slide-left {
  from {
    -moz-transform: translateX(70%);
    -webkit-transform: translateX(70%);
    transform: translateX(70%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
article.new-collection-ad h2 img {
  position: relative;
  top: 0.3rem;
  filter: invert(43%) sepia(7%) saturate(14%) hue-rotate(356deg) brightness(97%) contrast(78%);
}

section.top-banners {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
section.top-banners article {
  width: 49%;
  position: relative;
}
section.top-banners picture img {
  width: 100%;
}
section.top-banners a {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 15%;
}
section.top-banners a img {
  width: 21%;
}

section.brands {
  margin-top: 3.5rem;
}
section.brands h2 {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}
section.brands button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
section.brands button img {
  width: 3rem;
}
section.brands div {
  display: flex;
  justify-content: space-between;
}
section.brands .brands-slider {
  width: 80%;
}
section.brands .brands-slider picture {
  display: flex;
  justify-content: center;
  opacity: 50%;
  transition: opacity 0.2s ease-in-out;
}
section.brands .brands-slider picture:hover {
  opacity: 200%;
}
section.brands .brands-slider img {
  width: 12.5rem;
  cursor: pointer;
}

article.bottom-banner {
  position: relative;
  margin-top: 4rem;
  width: 100%;
}
article.bottom-banner picture img {
  width: 100%;
}
article.bottom-banner a {
  position: absolute;
  right: 24%;
  bottom: 15%;
}
article.bottom-banner a img {
  width: 15vw;
}

section.discount-products h1 {
  font-size: 1.25rem;
}
section.discount-products > div {
  display: flex;
  justify-content: space-between;
}
section.discount-products div.product-slider {
  overflow: auto;
}
section.discount-products article {
  text-align: center;
}
section.discount-products article:nth-child(n+2) {
  margin-left: 1rem;
}
section.discount-products article.AGATHE .card {
  background-image: url("/assets/images/1-1@2x.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}
section.discount-products article.AGATHE .card:hover {
  background-image: url("/assets/images/1-1v2@2x.png");
}
section.discount-products article.LUZZ .card {
  background-image: url("/assets/images/1-3@2x.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}
section.discount-products article.LUZZ .card:hover {
  background-image: url("/assets/images/1-3v2@2x.png");
}
section.discount-products article.LUZZ .card > img:nth-child(3) {
  top: 2.5rem;
  right: 0;
}
section.discount-products article h3 {
  font-weight: 500;
  font-size: 0.875rem;
}
section.discount-products article h4 {
  font-weight: 400;
  font-size: 1.25rem;
  color: #FF0102;
  margin: 1rem 0;
}
section.discount-products article h4 span {
  font-size: 1.125rem;
  color: #939393;
  text-decoration: line-through;
}
section.discount-products article > p {
  font-size: 0.875rem;
  border: 1px solid #000;
  width: 2rem;
  padding: 0.2rem 0.3rem;
  margin: 0 auto;
}
section.discount-products article .card {
  width: 21.3rem;
  height: 28.4rem;
  position: relative;
}
section.discount-products article .card p {
  position: relative;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  width: 4rem;
  line-height: 2rem;
  background-color: rgba(0, 0, 0, 0.497);
  bottom: -22rem;
}
section.discount-products article .card > img {
  display: block;
  position: absolute;
  top: 1rem;
  right: 0;
}
section.discount-products article .card button {
  opacity: 70%;
  border: none;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1rem;
  top: 1.2rem;
}
section.discount-products article .card button:before {
  content: "";
  position: absolute;
  width: 2.125rem;
  height: 2.125rem;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-x: 4px;
  background-position-y: 7px;
  background-image: url("/assets/icons/like-1.svg");
}
section.discount-products article .card button.active {
  background-color: #829b8f;
  opacity: 100%;
}
section.discount-products article .card button.active:before {
  filter: invert(100%) sepia(200%) saturate(10%) hue-rotate(234deg) brightness(200%) contrast(100%);
}

section.newsletter {
  margin-top: 8.125rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F4F4F4;
  padding: 3.375rem 0;
}
section.newsletter > div h2 {
  font-size: 4.183rem;
  font-weight: 500;
  color: #0068FF;
  letter-spacing: 6.54px;
  margin: 0 0 0.5rem 0;
}
section.newsletter > div p {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
}
section.newsletter > div p span {
  letter-spacing: 0.6px;
  font-weight: 600;
  text-transform: uppercase;
}
section.newsletter form {
  width: 30vw;
}
section.newsletter form input[type=email], section.newsletter form input[type=tel] {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #0068FF;
  padding: 0.4rem 0.8rem;
}
section.newsletter form input[type=email].active, section.newsletter form input[type=tel].active {
  border: 1px solid #FF0102;
}
section.newsletter form input[type=tel] {
  margin: 1rem 0;
}
section.newsletter form input[type=submit] {
  display: block;
  width: 100%;
  padding: 0.4rem 0.8rem;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
}

footer {
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
}

@media screen and (max-width: 1280px) {
  article.new-collection-ad {
    display: flex;
    justify-content: center;
  }
  article.new-collection-ad h2 {
    text-align: center;
    width: 80%;
    animation: none;
  }
  article.new-collection-ad h2 span {
    display: block;
  }
}
@media screen and (max-width: 1100px) {
  nav {
    width: 80%;
  }
  nav #menu-btn {
    cursor: pointer;
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    background-color: #0068FF;
    margin-right: 1.2rem;
  }
  nav #menu-btn::before, nav #menu-btn::after {
    content: "";
    position: relative;
    display: block;
    background-color: #0068FF;
    width: 2.5rem;
    height: 0.3rem;
  }
  nav #menu-btn::before {
    top: 0.9rem;
  }
  nav #menu-btn:after {
    bottom: 1.2rem;
  }
  nav #menu-btn.menu:before {
    transform: rotate(45deg);
    top: -0.1rem;
  }
  nav #menu-btn.menu:after {
    transform: rotate(-45deg);
    top: -0.4rem;
  }
  nav #menu-btn.menu {
    height: 0;
  }
  nav img {
    width: 2.5rem;
    padding: 1rem 0;
  }
  nav div:nth-child(1) {
    justify-content: center;
  }
  nav div:nth-child(1) .media a {
    margin: 1rem;
  }
  nav div .user-panel > p span:nth-child(1n+2) {
    display: none;
  }
  nav div .user-panel > p span:nth-child(1) {
    position: relative;
    left: -1rem;
    top: -1rem;
    background-color: #000;
    padding: 0 0.3rem;
    border-radius: 2rem;
    color: #fff;
  }
  nav div .user-panel .user-nav button {
    margin-left: 1rem;
    padding: 0;
  }
  nav .categories::before, nav .categories::after {
    content: "";
    width: 0;
    height: 0;
  }
  nav .categories.menu {
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 3rem 0;
    z-index: 12;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  nav .categories.menu a {
    font-weight: 500;
    font-size: 4vw;
  }
  nav .categories.menu a:nth-child(-n+3) {
    color: #fff;
    margin: 0 0 2rem 0;
  }
  nav .categories {
    display: none;
  }
  section.top-banners {
    flex-direction: column;
  }
  section.top-banners article {
    width: 100%;
  }
  article.new-collection-ad {
    margin-top: 0;
  }
  section.newsletter {
    flex-direction: column;
  }
  section.newsletter div {
    width: 80%;
    text-align: center;
  }
  section.newsletter form {
    margin-top: 2rem;
    width: 60%;
  }
}
@media screen and (max-width: 885px) {
  header h1 {
    font-size: 3vw;
  }
  header h1 > span {
    display: block;
    margin-left: 0;
  }
  header h1 > span span {
    margin-left: 0;
  }
  section.newsletter div h2 {
    font-size: 7vw;
  }
  section.newsletter div p {
    font-size: 3vw;
  }
}
@media screen and (max-width: 600px) {
  nav {
    width: 80%;
  }
  nav img {
    width: 1.3rem;
  }
  nav #menu-btn {
    transform: scale(0.5);
    margin-bottom: 0.2rem;
    margin-right: 0.4rem;
  }
  section.discount-products article .card {
    width: 17rem;
    height: 22.7rem;
  }
  section.discount-products article .card p {
    top: 15rem;
  }
  section.discount-products article.AGATHE .card {
    background-image: url("/assets/images/1-1.png");
  }
  section.discount-products article.AGATHE .card:hover {
    background-image: url("/assets/images/1-1v2.png");
  }
  section.discount-products article.LUZZ .card {
    background-image: url("/assets/images/1-3.png");
  }
  section.discount-products article.LUZZ .card:hover {
    background-image: url("/assets/images/1-3v2.png");
  }
  section.brands .brands-slider {
    width: 60%;
  }
  section.brands .brands-slider div {
    margin: 0 auto;
  }
  section.brands .brands-slider div img {
    width: 10rem;
  }
  article.new-collection-ad h2 {
    font-size: 0.7rem;
  }
  article.new-collection-ad img {
    width: 1.2rem;
  }
  section.newsletter {
    margin-top: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
